<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.books_management.mapper.BookMapper">
  <resultMap id="BaseResultMap" type="com.example.books_management.pojo.Book">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="surplus_number" jdbcType="VARCHAR" property="surplusNumber" />
    <result column="author_name" jdbcType="VARCHAR" property="authorName" />
    <result column="book_price" jdbcType="DOUBLE" property="bookPrice" />
    <result column="brief_introduction" jdbcType="VARCHAR" property="briefIntroduction" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="cover_url" jdbcType="VARCHAR" property="coverUrl" />
  </resultMap>
</mapper>